html{
  background-color: #edeff2;
  margin:auto;
}
h2{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size:40px;
  margin: 10px;  
}
.mainWrap{
  background-color: white;
  width:400px;
  height:600px;
  margin:auto;
  padding: 15px;
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list{
  top-padding:10px;
}

form{
  text-align:left;
  padding:5px;
  font-family: 'Gloria Hallelujah', cursive;
}

hr{
  width:75%;
}
